@page "/settings/{UrlContextID}"

<PageTitle>Settings</PageTitle>

<h3>Settings/maintenance</h3>

<Callout Heading="Load a new configuration file !" Color="CalloutColor.Info" Type="Info">
    <p>
        If you changed the Internet site configuration, you may need to load an updated configuration file to continue managing IIS logs.
    </p>
    <p>
        Please use the below button to select and load a configuration file generated with BuildConfigFile.<br />
        This configuration file will be encoded and stored on the base folder of the Internet site.<br />
        Loading a new configuration file will replace the current configuration and you will need to log in again with the possibly new credencials
    </p>

    <button style="display:block;width:180px; height:30px;" onclick="document.getElementById('getFile').click()">Select config file</button>
    <InputFile id="getFile" OnChange="LoadFile" style="display:none" single />

</Callout>

<button class="btn btn-warning" Size="ButtonSize.Large" @onclick="CleanUpButtonClicked">Clean the singletons services</button>

<ConfirmDialogSingleButton @ref="theSingleButtonConfirmDialog" />

@code
{
    [Parameter]
    public string UrlContextID { get; set; } = string.Empty;

    private ConfirmDialogSingleButton theSingleButtonConfirmDialog = new();

    public ILMAppContext TheILMAppContext { get; set; } = new();

    protected override void OnParametersSet()
    {
        TheILMAppContext = ILMAppContextServices.GetILMAppContext(UrlContextID);

        base.OnParametersSet();
    }

    private async void LoadFile(InputFileChangeEventArgs e)
    {
        // Isloaded = false for now, it will be set to true if the file is loaded successfully
        // IsLoggedIn = false for now, it will be set to true if the user can log in with the new configuration file
        // Don't load the config => false
        TheILMAppContext = new(loadConfig: false);

        if (e.FileCount > 0 && e.File != null)
        {
            IBrowserFile file = e.File;
            if (file.Size > 0)
            {
                string result = await CopyAppConfigFileToBaseDirectory(file);
                if (result == "Succes")
                {
                    // back and forth should work :-)
                    await theSingleButtonConfirmDialog.ShowAsync(buttonColorArg: ButtonColor.Success, titleArg: "Config file load succeeded", msg1Arg: "Configuration file successfully loaded ");

                    string mainPageUri = "/home";
                    NavigationManager.NavigateTo(mainPageUri, forceLoad: true);
                }
                else
                {
                    await theSingleButtonConfirmDialog.ShowAsync(buttonColorArg: ButtonColor.Warning, titleArg: "Config file load failed", msg1Arg: "Error loading configuration file : " + result);
                }
            }
            else
            {
                await theSingleButtonConfirmDialog.ShowAsync(buttonColorArg: ButtonColor.Warning, titleArg: "Config file load failed", msg1Arg: "Selected file is empty !");
            }
        }
        else
        {
            await theSingleButtonConfirmDialog.ShowAsync(buttonColorArg: ButtonColor.Warning, titleArg: "Config file load failed", msg1Arg: "No file was choosen !");
        }
        string homePageUri = "/";
        NavigationManager.NavigateTo(homePageUri, forceLoad: true);
    }

    private async void CleanUpButtonClicked()
    {

        ILMAppContextServices.DeleteAllILMAppContextRecords();
        await theSingleButtonConfirmDialog.ShowAsync(buttonColorArg: ButtonColor.Success, titleArg: "Clean up done", msg1Arg: "Singleton services have been cleaned up !");
        string homePageUri = "/";
        NavigationManager.NavigateTo(homePageUri, forceLoad: true);
    }
}